@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background: #f3e5d7;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

main {
  margin: 123px 0;
  padding: 40px;
  border-radius: 24px;
  background: #fff;
}

.hero__img img {
  border-radius: 12px;
}

.hero__title {
  font-family: "Young Serif";
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  color: #312e2c;
  margin: 40px 0 24px 0;
}

.hero__text {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
  margin-bottom: 32px;
}

.hero__content {
  padding: 28px;
  border-radius: 12px;
  background: #fff7fb;
}

.hero__content-title {
  font-family: "Young Serif";
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  color: #312e2c;
  font-family: "Outfit";
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  color: #7a284e;
}

.hero__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.hero__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
}

.hero__content-item-icon {
  width: 4px;
  margin-left: 8px;
}

.hero__content-item-text {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
}

.hero__content-item-text span {
  font-weight: 700;
}

@media only screen and (max-width: 540px) {
  body {
    background: #fff;
  }
  main {
    margin: 70px 0;
    padding: 0;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    padding: 0;
  }
  .hero__img img {
    border-radius: 0;
  }
  main {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .hero__title {
    padding: 0 20px;
    font-size: 36px;
  }
  .hero__text {
    padding: 0 20px;
  }
  .hero__content {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 340px) {
  .hero__title {
    font-size: 30px;
  }
}
.ingredients {
  padding: 32px 0;
  border-bottom: 1px solid #e3ddd7;
}

.ingredients__title {
  margin-bottom: 24px;
  font-family: "Young Serif";
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  color: #312e2c;
  font-size: 28px;
  color: #854632;
}

.ingredients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.ingredients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
}

.ingredients__item-icon {
  width: 4px;
  height: 4px;
  margin-left: 8px;
}

.ingredients__item-text {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
}

@media only screen and (max-width: 375px) {
  .ingredients__block {
    padding: 0 20px;
  }
}
.instructions {
  padding: 32px 0;
  border-bottom: 1px solid #e3ddd7;
}

.instructions__title {
  margin-bottom: 24px;
  font-family: "Young Serif";
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  color: #312e2c;
  font-size: 28px;
  color: #854632;
}

.instructions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.instructions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.instructions__item-order {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
  font-weight: 700;
}

.instructions__item-text {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
}

.instructions__item-text span {
  font-weight: 700;
}

@media only screen and (max-width: 375px) {
  .instructions__block {
    padding: 0 20px;
  }
}
.nutrition {
  padding-top: 32px;
}

.nutrition__title {
  font-family: "Young Serif";
  font-weight: 400;
  line-height: 100%;
  font-size: 40px;
  color: #312e2c;
  font-size: 28px;
  color: #854632;
}

.nutrition__text {
  margin: 24px 0;
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
}

.nutrition__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.nutrition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e3ddd7;
}

.nutrition__item-order {
  max-width: 288px;
  width: 100%;
  padding-left: 32px;
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
}

.nutrition__item-text {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #5f564d;
  font-weight: 700;
  padding-right: 32px;
  color: #854632;
}

.nutrition__item:last-child {
  border-bottom: transparent;
}

@media only screen and (max-width: 375px) {
  .nutrition__block {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */