$main-font: "Outfit";
$secondary-font: "Young Serif";
$background-color: #f3e5d7;
$white: #fff;
$dark-charcoal: #312e2c;
$wenge-brown: #5f564d;
$dark-raspberry: #7a284e;
$snow: #fff7fb;
$brandy-red: #854632;
$white-coffee: #e3ddd7;
