.ingredients {
  padding: 32px 0;
  border-bottom: 1px solid $white-coffee;
}
.ingredients__title {
  margin-bottom: 24px;
  @include title;
  font-size: 28px;
  color: $brandy-red;
}
.ingredients__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.ingredients__item {
  display: flex;
  column-gap: 28px;
}
.ingredients__item-icon {
  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-left: 8px;
}
.ingredients__item-text {
  @include text;
}

@media only screen and (max-width: 375px) {
  .ingredients__block {
    padding: 0 20px;
  }
}
